<nav id="nav">

	<ul class="links">
	  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
	  <li class="{% if page.url contains '/Welbreathe%20Centre/' %} active {% endif %}"><a href="{{ "/Welbreathe Centre/" | absolute_url }}">Welbreathe Centre</a></li>
	  <li class="{% if page.url contains '/solutions/' %} active {% endif %}"><a href="{{ "/solutions/" | absolute_url }}">solutions</a></li> 
	  <li class><a href= "https://google.com">Pay</a></li> 
	</ul>
	<ul class="icons">
	
		<li class><a href="https://google.com">中文</a></li> 
		<li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
		<li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
	</ul>	
</nav>